.banner__img{
    width: 25%;
}

.conteudo__informa{
    padding: 2em;
}
.tabelas{
    display: flex;
    padding: 2em;
    gap: 2em;
    justify-content: space-between;
}
table, th{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

td{
    border: 1px solid black;
    padding: 5px;
    text-align: center;

}

tr:nth-child(even){
    background-color:rgb(176, 206, 235);
}


